.developer{
    padding: 64px 0 128px;

    &__block{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        column-gap: 129px;

        img{
            max-width: 448px;
            height: auto;

        }

        h1{
            font-family: $font-dm;
            font-size: 3.75rem;
            font-weight: 700;
            padding-bottom: 24px;
        }

        p{
            font-family: $font-dm;
            font-size: 1rem;
            font-weight: 400; 
            margin-bottom: 24px;
            line-height: 1.75rem;

            span{
                color: $violet;
                font-weight: 500;
            }
        }
    }

    &__text{
        max-width: 568px;
    }
}