*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

body{
    background-color: #171718;
}

.container{
    max-width: 1170px;
    margin: auto;
    padding: 0;
}
